 html {

 }


body {
    background-image: url("./assets/backgrounds/default-background.png");
    background-size: cover;         /* Makes the image cover the entire screen */
    background-repeat: no-repeat;   /* Prevents the image from repeating */
    background-position: center;    /* Centers the image on the screen */
    height: 100%;
    min-height: 100%;

    color: white;
    font-family: '04b03';  
    font-size: 100%;
    
    justify-content: center;
    align-items: center;
    overflow: scroll;
   }


img {
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
  } 

.img-container {
    display: flex;
    justify-content: center;
    align-items: center;

  }

/* #story {
	margin-top: 15px;
    margin-bottom: 15px;
}

#passages {   
        max-width: none;
        margin-left: 0;
        margin-right: 0;
    
} */


body.mars {
    background-image: url("./assets/backgrounds/mars-background.png");
    background-size: cover;         
    background-repeat: no-repeat;   
    background-position: center;    
    min-height: 100%;
    height:100%;
}

.passage.mars {
    background-color: red;
   

}

/* .passage.mars {
   
    height: 100%;
} */

body.jupiter {
    background-image: url("./assets/backgrounds/jupiter-background.png");
    background-size: cover;         /* Makes the image cover the entire screen */
    background-repeat: no-repeat;   /* Prevents the image from repeating */
    background-position: center;    /* Centers the image on the screen */
    height: 100%;
    min-height: 100%;

}

